<!DOCTYPE html>
<html>

<head>
    <title>Cadastrinho safadinho e egocentrizinho</title>
</head>

<body>

    <h2>Listinha de manitos</h2>

{% for i in usuarios: %}
    {{i.nome}} <br>
    {{i.endereco}} <br>
    {{i.telefone}} <br>
{% endfor %}

<form action="/cadastro">
Nome: <input type="text" name="nome"> <a href="/form_editar_pessoa?nome={{i.nome}}">Editar</a>
Endereço: <textarea name="endereco"> </textarea>
Telefone: <input type="text" name="telefone">

<input type="submit" value= "Salvar">
</form>
<br>



</body>












</html>