<!DOCTYPE html>
<html>

<head>
	
	<title>cadastro</title>

	<link rel="stylesheet" type="text/css" href="css_cadastro_hylson.css">

	<meta charset="utf-8">
	<meta name="author" content="Maria Luisa Mognon">
	<meta name="keywords" content="doação, sangue, doadores, ajuda, tipos sanguineos">
	<meta name="description" content="Este site e feito para realizar o cadastro sobre a doacao de orgaos">

</head>

<body>

<div id="area">

	<h1>Cadastre-se</h1>

	<p><i><strong>Preencha os termos abaixo para a realização do cadastro, para você se tornar um de nós!</strong></i></p>

	 <form id="formulario" autocomplete="off" action="/add">

	 	<fieldset>
		
		<legend>Formulario</legend>

		<br>

		<label>Nome completo</label>
	
			<input type="text" name="Nome completo" size="17" maxlength="100">
			<br>
			<br>

		<label>Idade</label>
	
			<input type="text" name="Idade" size="27" maxlenght = "3">
			<br>
			<br>
		
		<label>Data de Nascimento</label>
			<input type="text" name="Data de nascimento" size="13" maxlength="100">
			<br>
			<br>

		
		<label>E-Mail</label>
	
			<input type="text" name="E-Mail" size="25" maxlength="40">
			<br>
			<br>

		<label> CPF </label>
			<input type="text" name="CPF", size="27" maxlength="20">
			<br>
			<br>

		<label> Endereço </label>
			<input type="text" name="Endereço", size = "23" maxlength="40">
			<br>
			<br>

		<label> Sexo: </label>
			<br>
			<br>
			<input type="radio" name="gender" value="Feminino"> Feminino<br>
			<input type="radio" name="gender" value="Masculino">Masculino<br>
			<br>
			<br>


		<label>Tipo sanguineo: </label>
			<br>
			<br>
			<input type="radio" name="gender" value="A+">A+<br>
			<input type="radio" name="gender" value="A-">A-<br>
			<input type="radio" name="gender" value="AB+">AB+<br>
			<input type="radio" name="gender" value="AB+">AB-<br>
			<input type="radio" name="gender" value="AB+">B+<br>
			<input type="radio" name="gender" value="AB+">B-<br>
			<input type="radio" name="gender" value="AB+">O+<br>

			<input type="radio" name="gender" value="AB+">O-<br>


			<br>
			<input type="submit" name="GRAVAR">

			<br>
	</fieldset>
	</form>
	</div>

	






</body>
</html>