<!DOCTYPE html>
<html>

	<head>
		<title>Exercicio 2: Comobox!</title>
	</head>

	<body>

		<form action = "mostrar_selecao">

			<select name = "estado" multiple> 

				<option value="AC">Acre</option>

	            <option value = "AL"> Alagoas </option>

	            <option value = "AM"> Amazonas </option>

	            <option value="AP">Amapa</option>

	            <option value="BA">Bahia</option>

	            <option value="CE">Ceará</option>

	            <option value="DF">Distrito Federal</option>

	            <option value="ES">Espírito Santo</option>

	            <option value="GO">Goiás</option>

	            <option value="MA">Maranhão</option>

	            <option value="MG">Minas Gerais</option>

	            <option value="MS">Mato Grosso do Sul</option>

	            <option value="MT">Mato Grosso</option>

	            <option value="PA">Pará</option>

	            <option value="PB">Paraíba</option>

	            <option value="PE">Pernambuco</option>

	            <option value="PI">Piauí</option>

	            <option value="PR">Paraná</option>

	            <option value="RJ">Rio de Janeiro</option>

	            <option value="RN">Rio Grande do Norte</option>

	            <option value="RS">Rio Grande do Sul</option>

	            <option value="RO">Rondônia</option>

	            <option value="RR">Roraima</option>

	            <option value="SC">Santa Catarina</option>

	            <option value="SE">Sergipe</option>

	            <option value="SP">São Paulo</option>

	            <option value="TO">Tocantins</option>

			</select>

		<br>
		<button type = "submit"> Enviar </button>

</form>
</body>
</html>


